.register-wrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    margin-top: -250px;
    margin-left: -250px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid lightgray;
}

.title{
    display: flex;
    align-self: center;
    font-size: 30px;
}

.register-wrapper .username-wrapper,
.register-wrapper .password-wrapper,
.register-wrapper .name-wrapper,
.register-wrapper .surname-wrapper,
.register-wrapper .sex-wrapper,
.register-wrapper .birthDate-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

.register-wrapper .username-wrapper input,
.register-wrapper .password-wrapper input,
.register-wrapper .name-wrapper input,
.register-wrapper .surname-wrapper input,
.register-wrapper .birthDate-wrapper input{
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;
    padding-left: 3px;
}

.register-wrapper .sex-wrapper input{
    height: 15px;    
}

.register-wrapper .sex-wrapper label{
    display: flex;
    font-size: 20px;
}

.register-wrapper .sex-wrapper div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register-wrapper .registerBtn-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.register-wrapper .registerBtn-wrapper button{
    width: 80%;
    height: 40px;
    background: green;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.register-wrapper .registerCloseBtn{
    display: flex;
    justify-content: right;
    padding: 3px;
    cursor: pointer;
}